
.Inicio{
    background-color: #FAF8D4;
}
#Parte1{
    display: flex;  align-items: center;  justify-content: center;
    padding: 3rem;
    font-size: 65px;
}
.Text{
    display: inline-block;
    margin:60px;
}
.BtnMapa{    
   font-size: 20px;
   padding: 0.5rem;
   margin-top:3%;
}
#Parte2{
    padding: 3rem;
}
.frase{
    justify-content: center; display: flex;
}
.Grid2{
    display: grid;
    display:flex; align-items: center;  justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom:100px;
    grid-gap: 150px;
}
.Grid1{
    display: grid;
    align-items: center;  justify-content: center;
    grid-template-columns: 50% 50%;
    padding:100px;
    grid-gap: 50px;
}
.Conocenosimg{
    background-color: #FF921C;
    height:300px; width: 500px;
    display: flex; align-items: center;  justify-content: center;
}
.Info{
    display: inline-flex; align-items: center;
}
.titulo{
    display: flex; align-items: center;  justify-content: center;
    text-decoration: underline;
}
.Nombre{
    display: flex; align-items: center;  justify-content: center;
    background-color: #FF921C;
    height: 200px; width: 200px;
    border-radius: 50%;
}
.footer{
    padding: 15px;
    background-color: #3A5A40;
    display: flex;  align-items: center;  justify-content: center;
    color: white;
}
.mapaimg{
    background-color: #FF921C;
    height:300px; width: 300px;
    margin:50px;
    display: flex; align-items: center;  justify-content: center;
}
.logo{
    height:50px;
    margin-right: 15rem;
}
.planeta{
    padding: 2cm;
    display: inline; 
}
.basura{
    margin: 8rem;
}
.leaflet-container{
    width: 100vw;
    height: 90vh;
}
.separador{
    width: 30rem;
}
.centrar{
    display: flex; justify-content: center;
    text-decoration: underline;
}
.rol{
    display: flex; justify-content: center;
}
.input{
    padding: 2%;
}
.info{
    display: inline-flex;
    align-items: center;
}
.linkedin{
    height:30px;
}