@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

.Inicio{
    background-color: #FAF8D4;
}
#Parte1{
    display: flex;  align-items: center;  justify-content: center;
    padding: 3rem;
    font-size: 65px;
}
.Text{
    display: inline-block;
    margin:60px;
    font-size: 70px;
}
.Hola{
    font-family: 'Alkalami', serif;}
.BtnMapa{    
   font-size: 20px;
   padding: 0.5rem;
   margin-top:3%;
   background-color: #297740;
   padding: 2% 10% 3% 10%;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

   border-color: transparent;
   border-radius: 10px;
   color: white;
}
#Parte2{
    padding: 3rem;
}
.frase{
    justify-content: center; display: flex;
    font-family: 'Inter Tight', sans-serif;
    font-size: 25px;
}
.frase_main{
    font-family: 'Alkalami';
    font-size: 35px;
}
.centrar_frase_main{
    display: flex; justify-content: center; align-items: center;
}
.sparks{
    display: inline-flex; padding: 1%;
}
.Planeta_Lupa{
    height: 10rem;
    margin: 4%;
}
.Grid2{
    display: grid;
    display:flex; align-items: center;  justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom:100px;
    grid-gap: 150px;
}
.Grid1{
    font-size: 25px;
    display: grid;
    align-items: center;  justify-content: center;
    grid-template-columns: 50% 50%;
    padding:100px;
    grid-gap: 50px;
}
.Conocenosimg{
    border-radius: 15px;
    height:400px;
    display: flex; align-items: center;  justify-content: center;
}

.titulo{
    display: flex; justify-content: center;
    font-family: 'Alkalami';
    font-size: 45px;
}
.Acceder_mapa{
    margin-bottom: 2cm;
    font-family: 'Alkalami';
    font-size: 45px;
}
.footer{
    padding: 15px;
    background-color: #458545;
    display: flex;  align-items: center;  justify-content: center;
    color: white;
}
.mapaimg{
    background-color: #FF921C;
    height:300px; width: 300px;
    margin:50px;
    display: flex; align-items: center;  justify-content: center;
}
.logo{
    height:50px;
    margin-right: 15rem;
}
.planeta{
    margin: 0 0 2cm 1cm;
    display: inline; 
}
.basura{
    margin: 0rem 10rem;
    height: 350px;
}
.leaflet-container{
    width: 100vw;
    height: 90vh;
}
.separador{
    width: 30rem;
    margin: 2rem;
}
.centrar{
    display: flex; justify-content: center;
}
.click{
    display: flex; justify-content:center; align-items:flex-start;
}
.rol{
    display: block;
    padding-right: 10px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
}
.linkedin_info{
    display: block;
    height:30px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.input{
    padding: 2%;
}
.info{
    display: inline-flex;
    align-items: center;
}
.linkedin_link{
    height:30px;
    display: block;
}
#Conocenos{
    margin-bottom: 5%;
}
.linkedin_foto{
    height: 200px;
    margin: 10px;
}