.Seccion {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 10rem;
    align-items: center;  justify-content: center;

}
.Navbar{
    padding: 15px;
    background-color: #3A5A40;
    display: flex;  align-items: center;  justify-content: center;
}
#Parte1{
    display: flex;  align-items: center;  justify-content: center;
}
.Text{
    display: inline-block;
    margin:50px;
}
.Hola{
    font-size: 65px;
}
.IrMapa{
   font-size: 20px;
   background-color: #FF921C;
}
.img {
    background-color: #FF921C;
    height:300px; width: 300px;
    margin:50px;
    float:right;
}
#Parte2{
    align-items: center;  justify-content: center;
    padding:100px;
    display: grid;
    align-items: center;  justify-content: center;
    grid-template-columns: 50% 50%;
}
.Grid2{
    display: grid;
    display:flex; align-items: center;  justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom:100px;
    grid-gap: 150px;
}
.Grid1{
    display: grid;
    align-items: center;  justify-content: center;
    grid-template-columns: 50% 50%;
    padding:100px;
    grid-gap: 50px;
}
.Conocenosimg{
    background-color: #FF921C;
    height:300px; width: 500px;
}
.Info{
    display: inline-flex; align-items: center;
}
.titulo{
    display: flex; align-items: center;  justify-content: center;
    text-decoration: underline;
}

.Inicio{
    background-color: #FAF8D4;
}
.Nombre{
    display: flex; align-items: center;  justify-content: center;
    background-color: #FF921C;
    height: 200px; width: 200px;
    border-radius: 50%;
}
.footer{
    padding: 15px;
    background-color: #3A5A40;
    display: flex;  align-items: center;  justify-content: center;
    color: white;
}
.mapaimg{
    background-color: #FF921C;
    height:300px; width: 300px;
    margin:50px;
    display: flex; align-items: center;  justify-content: center;
}
.logo{
    height:70px;
    margin-right: 40rem;
}

.planeta{
    margin: 2cm;
    display: flex; 
    transform: translateX(34rem)
}
.basura{
    margin: 8rem;
}