.Page{
    display:inline-block;
    position:absolute;
    }
    
.BtnMapa{
    /* background-color: #3A5A40; */
    color: black;
    /*border-radius: 50%;
     right:4em;*/
    padding: 1%; 
    cursor:pointer;
}
.Ejemplo{
    margin-left: 1%;
    color:red;
}