#Sidebar{
  background-color: #3A5A40;
}

.logo-Sidebar{
  width: 30%;
  display: inline;
}
.Titulo{
  display: flex; justify-content: center; align-items: center;
  text-decoration: underline;
}

.Contacto{
  margin:10px;
  color:black;
}

.preguntas-respuestas{
  color:black;
}