#Sidebar{
  background-color: #458545;
}
.logo-Sidebar{
  width: 70%;
  display: inline;
  margin-top: 600%;
}
.Titulo{
  display: flex; justify-content: center; align-items: center;
  text-decoration: underline;  
}
.Contacto{
  margin:10px;
  color:black;
}
.preguntas-respuestas{
  color:black;
}
.login-input{
  display: block;
  margin-top: 5%;
}
.Volverbtn{
  text-decoration: underline;
  color:#0A58CA;
}
.centrar{
  display: flex;
  justify-content: center;
}
